body {
  background-color: #24333b !important;
  color: white;
}
.logo {
  width: 7rem;
  height: 5rem;
  border-radius: 10px;
  object-fit: cover;
}
.navbar {
  background: #24333b !important;
}
.nav-link {
  color: white !important;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0;
  margin-left: 1rem;
}
#searchInput {
  width: 70% !important;
}
h1 {
  text-align: center;
  padding: 1rem;
}
.titulo-productos {
  border-top: 2px solid white;
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
}
.section-sucursales {
  padding: 1rem;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.sucursales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.promo-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.promo-header img {
  width: 6rem;
  margin: 0.5rem;
}
#sucursales {
  width: 30% !important;
}
#checksInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.checksFather {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  width: 70%;
}
.checkBox {
  padding: 0.5rem !important;
  color: white !important;
}

#dropdown-menu {
  background: #24333b !important;
  border: 1px solid white;
  border-radius: 10px;
}

span {
  color: white;
}
.modal {
  background-color: #24333b6b !important;
  color: white !important;
}
.btn-primary {
  background-color: #24333b !important;
  border: 2px solid #4ba439 !important;
}

.modal-content,
.nodal-header,
.modal-body {
  background-color: #24333b !important;
  color: white !important;
  border: 0 !important;
}
.modal-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* inicio checks */
.material-checkbox {
  width: 100%;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.card-img-top {
  height: 18rem;
  object-fit: contain;
}
.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 2px solid #4ba439;
  border-radius: 4px;
  transition: all 0.3s;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #4ba439;
  border-color: #4ba439;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.material-checkbox input[type="checkbox"]:focus ~ .checkmark {
  box-shadow: 0 0 0 2px #4ba439;
}

.material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  border-color: #4ba439;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: #4d4d4d;
}

/* fin checks */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  color: black; /* Text color */
  background-color: #4ba439; /* Add a dark-grey background on hover */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  width: 4rem;
  height: 2rem;
  font-weight: 600;
  color: white;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  bottom: 10px;
  left: 10px;
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  color: black; /* Text color */
  background-color: #4ba439e1; /* Add a dark-grey background on hover */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  width: 5rem;
  height: 2rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
#myBtn:hover {
  background-color: #4ba439; /* Add a dark-grey background on hover */
}
.flecha {
  width: 1rem;
  margin-left: 0.2rem;
}
.search-sticky {
  background-color: #24333b;
  width: 100%;
}

@media screen and (max-width: 991) {
  #dropdown-menu {
    width: 100% !important;
  }
  iframe {
    width: 70px;
    height: 30px;
  }
}

@media screen and (min-width: 992px) {
  #dropdown-menu {
    width: 40rem !important;
  }
  .material-checkbox {
    width: 45%;
  }
  .promo-header img {
    width: 11rem;
    height: 16rem;
    margin: 0.5rem;
  }
}
