body {
  background-color: #24333b !important;
  color: white;
}
.logo {
  width: 7rem;
  height: 5rem;
  border-radius: 10px;
  object-fit: cover;
}
.navbar {
  background: #24333b !important;
}
.nav-link {
  color: white !important;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0;
  margin-left: 1rem;
}
#searchInput {
  width: 70% !important;
}
h1 {
  text-align: center;
  padding: 1rem;
}
#checksInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.checksFather {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  width: 70%;
}
.checkBox {
  padding: 0.5rem !important;
  color: white !important;
}

#dropdown-menu {
  background: #24333b !important;
  border: 1px solid white;
  border-radius: 10px;
}

span {
  color: white;
}
.modal {
  background-color: #24333b6b !important;
  color: white !important;
}
.btn-primary {
  background-color: #24333b !important;
  border: 2px solid #4ba439 !important;
}

.modal-content,
.nodal-header,
.modal-body {
  background-color: #24333b !important;
  color: white !important;
  border: 0 !important;
}
/* inicio checks */
.material-checkbox {
  width: 50%;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 2px solid #4ba439;
  border-radius: 4px;
  transition: all 0.3s;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #4ba439;
  border-color: #4ba439;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.material-checkbox input[type="checkbox"]:focus ~ .checkmark {
  box-shadow: 0 0 0 2px #4ba439;
}

.material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  border-color: #4ba439;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: #4d4d4d;
}

/* fin checks */

@media screen and (max-width: 991) {
  #dropdown-menu {
    width: 100% !important;
  }
}

@media screen and (min-width: 992px) {
  #dropdown-menu {
    width: 40rem !important;
  }
}
